.container-options {
  position: absolute;

  .all-options {
    border: 1px solid black;
    background-color: white;
    padding: 5px;
    .option-item {
      .item {
        list-style-type: none;
        padding: 5px;
        text-align: left;
      }
    }
  }
}
